In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("fake_reg.csv")

In [3]:
df.sample(5)

          price     feature1     feature2
370  424.810786  1000.769336   998.806167
34   628.977092  1000.728214  1001.110462
149  433.517530   997.964101  1000.241533
900  529.719716  1000.622007  1000.111070
140  433.093770  1000.292605   999.111414